@model List<Irrigation_management_app.Models.Water_ManagementVModel>

<h2>Administración de Agua</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
    <a asp-action="Index" asp-controller="Devices" class="btn btn-primary">go back to devices</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Capacidad</th>
            <th>Recolección por hora</th>
            <th>Nombre del Dispositivo</th>
            <th>Tipo de Gestión de Agua</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Water_Management_Id</td>
                <td>@item.Capacity</td>
                <td>@item.Collection_Hour</td>
                <td>@item.Device.Device_Name</td>
                <td>@item.Water_Management_Type.Type_Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Water_Management_Id" class="btn btn-primary">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Water_Management_Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
